button{
  padding-inline: 1rem;
  padding-block: .5rem;
  outline: none;
  border: none;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  color: whitesmoke;
  cursor: pointer;
}